<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @driver.dni %>
</p>

<p>
  <strong>Nlic:</strong>
  <%= @driver.nlic %>
</p>

<p>
  <strong>Fpago:</strong>
  <%= @driver.fpago %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @driver.password %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
