<p id="notice"><%= notice %></p>

<p>
  <strong>Rutacon:</strong>
  <%= @route.rutacon %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @route.precio %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
