<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @vehicle.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @vehicle.ano %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Npass:</strong>
  <%= @vehicle.npass %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vehicle.tipo %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @vehicle.driver %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
