<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :direcini %><br>
    <%= f.text_field :direcini %>
  </div>
  <div class="field">
    <%= f.label :direcfin %><br>
    <%= f.text_field :direcfin %>
  </div>
  <div class="field">
    <%= f.label :npass %><br>
    <%= f.number_field :npass %>
  </div>
  <div class="field">
    <%= f.label :fpago %><br>
    <%= select_tag("request[fpago]", options_for_select(options_for_select([['Contado', 'Contado']]))) %>
  </div>
  <div class="field">
    <%= f.label :estado  %><br>
        <%= select_tag("request[estado]", options_for_select(options_for_select([['Pendiente', 'Pendiente'],['Asignado', 'Asignado'],['Realizado', 'Realizado']]))) %>
  </div>
  <div class="field">
    <%= f.label :calif  %><br>
    <%= f.number_field :calif %>
  </div>
  <div class="field">
    <%= f.label :passenger_id %><br>
    <%= f.collection_select :passenger_id, Passenger.all, :id,:name %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.collection_select :driver_id, Driver.all, :id,:name %>
  </div>
  <div class="field">
    <%= f.label :route_id %><br>
    <%= f.collection_select :route_id, Route.all, :id,:rutacon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
