<p id="notice"><%= notice %></p>

<h1>Lista de pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Direccion inicial</th>
      <th>Direccion Destino</th>
      <th>Nro Pasajeros</th>
      <th>Forma de Pago</th>
      <th>Estado</th>
      <th>Calificacion</th>
      <th>Pasajero</th>
      <th>Chofer</th>
      <th>Ruta</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.direcini %></td>
        <td><%= request.direcfin %></td>
        <td><%= request.npass %></td>
        <td><%= request.fpago %></td>
        <td><%= request.estado %></td>
        <td><%= request.calif %></td>
        <td><%= request.passenger.name %></td>
        <td><%= request.driver.name %></td>
        <td><%= request.route.rutacon %></td>
        <td><%= request.route.precio %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Pedido', new_request_path %>
