<p id="notice"><%= notice %></p>

<p>
  <strong>Passenger:</strong>
  <%= @request.passenger %>
</p>

<p>
  <strong>Distini:</strong>
  <%= @request.distini %>
</p>

<p>
  <strong>Distfin:</strong>
  <%= @request.distfin %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @request.monto %>
</p>

<p>
  <strong>Direcexini:</strong>
  <%= @request.direcexini %>
</p>

<p>
  <strong>Directexfin:</strong>
  <%= @request.directexfin %>
</p>

<p>
  <strong>Pasajeros:</strong>
  <%= @request.pasajeros %>
</p>

<p>
  <strong>Tipovehiculo:</strong>
  <%= @request.tipovehiculo %>
</p>

<p>
  <strong>Tipopago:</strong>
  <%= @request.tipopago %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @request.estado %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
