<p id="notice"><%= notice %></p>

<p>
  <strong>Direccion inicial:</strong>
  <%= @request.direcini %>
</p>

<p>
  <strong>Direccion final:</strong>
  <%= @request.direcfin %>
</p>

<p>
  <strong>Nro Pasajeros:</strong>
  <%= @request.npass %>
</p>

<p>
  <strong>Forma de pago:</strong>
  <%= @request.fpago %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @request.estado %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @request.calif %>
</p>

<p>
  <strong>Pasajero:</strong>
  <%= @request.passenger.name %>
</p>

<p>
  <strong>Chofer:</strong>
  <%= @request.driver.name %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @request.route.rutacon %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @request.route.precio %>
</p>
<%= link_to 'Editar', edit_request_path(@request) %> |
<%= link_to 'Ver Lista de Pedindos', requests_path %>
